<div class="container-fluid mx-auto text-center justify-content-center">
    <h2 class="mt-4">
        {{name}}
    </h2>
    <div class="flexmydiv">
        <span class="badge badge-pill badge-type">Type: {{ type.name }}</span>
        <span class="badge badge-pill badge-category">Category: {{ damageType.name }}</span>
        <span class="badge badge-pill badge-pp">PP: {{ pp }}</span>
        <span class="badge badge-pill badge-accuracy">Accuracy: {{ accuracy }}%</span>
    </div>

    <br>

    <span class="mt-10">{{text.flavor_text}}</span>
</div>